doctype
html
	head
		title Putting It All Together App
		link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet" href="/css/site.css")
	body(ng-app="app")
		block main-content
		include scripts
