script(src="/lib/jquery/dist/jquery.js")
script(src="/lib/toastr/toastr.js")
script(src="/lib/bootstrap/dist/js/bootstrap.js")
script(src='/lib/angular/angular.js')
script(src='/lib/angular-route/angular-route.js')
script(src='/lib/angular-resource/angular-resource.min.js')
script(src="/app/app.js")
script(src="/app/main/MainCtrl.js")
script(src="/app/account/auth.js")
script(src="/app/account/identity.js")
script(src="/app/account/LoginCtrl.js")
script(src="/app/account/SignUpCtrl.js")
script(src="/app/account/usersResource.js")
script(src="/app/snippets/SnippetCtrl.js")
script(src="/app/snippets/snippetsService.js")
script(src='/common/services/commonServices.js')
script(src='/common/services/snippetsResource.js')
script(src='/common/utilities/commonUtilities.js')
script(src='/common/utilities/notifier.js')