body {
  padding-top: 80px;
  color: #000;
}
a{
    cursor: pointer;
}
footer {
  padding: 0 120px 0 120px;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
a.btn {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.jumbotron {
	margin-top: 30px;
	background-color: #fff;
	text-align: center;
}
footer {
	display: none;
}
header.nav {
	border-bottom: 1px solid #fff;
}
textarea {
  width: 300px;
  height: 150px;
}
