html
    head
        title= "Real time web chat"
        script(src='https://code.jquery.com/jquery-1.10.2.min.js')
        script(src='/app/game/game.js')
        script(src='/lib/socket.io-client/socket.io.js')
    body
