<!doctype html>
<html>
<head>
    <title>Linking Accounts</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Linking Accounts</h1>

        <p>Login with GitHub</p>
        <a href="/auth/github" class="btn btn-default">GitHub</a>
    </div>

</div>
</body>
</html>